body {
    font-family: Sans-Serif, Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 20px 10;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 62px;
    height: 63px;
    margin-right: 10px;
    border-radius: 25px;
}

h1 {
    color: #000000;
    font-size: 2em;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.video-upload {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.video-upload {
    position: relative;
}

.video-input {
    width: 100%;
    border: 1px solid #cccccc;
    font-size: 1em;
}

.buttons-container {
    display: flex;
    gap: 10px;
}

button {
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: #fbfbfb;
    width: 111px;
    height: 43px;
    font-size: 1em;
}

button:hover {
    background-color: #dadde1;
}